/********************* TAG SELECTORS *********************/
body {
  background-color: black;
  color: #87a8d0;;
  text-align: center;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  margin: 0;
}
h1 {
  font-size: 5rem;
  font-family: 'Tangerine', cursive;
}
h2 {
  font-size: 2.2rem;
  font-family: 'Merriweather', serif;
}
hr {
  border-color: #e8e8e8;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/******************** CLASS SELECTORS ********************/
/* top */
.top-container {
  background-color: #2573c3;
  /* background-color: #0066ff; */
  text-align: center;
  padding-top: 10px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}
.intro-name {
  font-size: 6rem;
  margin-top: 180px;
  margin-bottom: 10px;
  color: white;
  font-weight: bolder;
}
.intro-p {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 70px;
  margin-top: 0;
}
.bottom-cloud {
  margin-right: 100px;
  left: 300px;
  position: absolute;
}
.nyc {
  height: 400px;
  width: 85%;
  margin-bottom: -11px;
}
/* middle */
.middle-container {
  padding: 0;
  background-color: #011244;
}
.profile-picture {
  border-radius:50%;
  height: 250px;
  width: 250px;
}
.skill-row {
  line-height: 2;
  margin: 75px auto 75px auto;
  text-align: left;
  width: 50%;
}
.skill-image {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.skill-image:hover {
  background-color: #89a3b2;
}
/* bottom */
.bottom-container {
  background-color: black;
  padding-bottom: 1px;
}
.footer {
  margin-top: 15px;
}

/********************* ID SELECTORS *********************/
